*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/header-logo.jpg);
}
.cover{
    background-color: rgba(0, 0, 0, 0.575)  ;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background: rgba(0, 0, 255, 0);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background: rgba(137, 43, 226, 0);
    width: 300px;
    height: 50px;
    margin-left: 45px;
    color: red;
    font-size: 2em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin{
    background: rgba(128, 255, 0, 0);
    width: 200px;
    height: 50px;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    background: rgba(255, 127, 80, 0);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
}
.input{
    background-color: rgba(255, 99, 71, 0);
    height:60px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
input{
    height:60px;
    width: 400px;
    outline: none;
}
#getstarted{
    background-color: red;
    color: white;
    font-size: 1.3em;
    height:60px;
    width:200px;
    border: none;
    cursor: pointer;
}
#signin{
    width: 80px;
    height: 35px;
    border-radius: 7px;
    background: rgb(219, 23, 9);
    color: white;
    border: none;
    cursor: pointer;
    font-stretch: narrower;
    font-size: 1em;
}
.line{
    width: 100%;
    height: 10px;
    background-color: rgb(34, 34, 34);
}
.main2{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}

.main3{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}
.main4{
    min-height: 35vh;
    background-color:rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
}
.main5{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;

}
.main6{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
}
.main7{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
}
.main8{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
}
.main9{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
}
.main10{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
}
.main11{
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    color: white;
}





09098334287